/* Plugin should not change aspect-ratio value */

:root {
	/* added by fgp */
	--has-fgp: initial;
	--element-has-fgp: initial;
	--parent-has-fgp: initial;
}

img[width][height] {
	height: auto;
	aspect-ratio: attr(width) / attr(height);
}

img[width][height] {
	/* added by fgp */
}

.test2 {
	height: auto;
	aspect-ratio: attr(width) / attr(height);
}

.test2 {
	/* added by fgp */
}
