.pixels {
	display: flex;
	margin-left: 20px;
	margin-top: 20px;
	--has-display-flex: ;
}

.gap-no-flex {
	margin-top: var(--has-display-flex) calc(20px + var(--fgp-margin-top));;
	margin-left: var(--has-display-flex) calc(1em + var(--fgp-margin-left));;
	margin-right: 2em;
}

.width-400 {
	width: 400px;
}
