/* TailwindCSS Test*/
.gap-1 {
	row-gap: 20px;
	column-gap: 20px;
}

.g_20px {
	display: flex;
	/* gap: 20px 10px; */
	row-gap: 20px;
	column-gap: 20px;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_20px > * {
	--fl-row-gap: 20px;
	--fl-column-gap: 20px;
}

.g_40px {
	display: flex;
	/* gap: 40px 10px; */
	row-gap: 40px;
	column-gap: 40px;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_40px > * {
	--fl-row-gap: 40px;
	--fl-column-gap: 40px;
}

.g_10\% {
	display: flex;
	gap: 10%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_10\% > * {
	--fl-row-gap: 10%;
	--fl-column-gap: 10%;
}

.g_30\% {
	display: flex;
	gap: 30%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_30\% > * {
	--fl-row-gap: 30%;
	--fl-column-gap: 30%;
}

.g_25\% {
	display: flex;
	gap: 25%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_25\% > * {
	--fl-row-gap: 25%;
	--fl-column-gap: 25%;
}

.g_3\% {
	display: flex;
	gap: 3%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_3\% > * {
	--fl-row-gap: 3%;
	--fl-column-gap: 3%;
}

.g_6\% {
	display: flex;
	gap: 6%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.g_6\% > * {
	--fl-row-gap: 6%;
	--fl-column-gap: 6%;
}

.r_20px {
	display: flex;
	row-gap: 20px;
	--fl-row-gap: 0px;
	--has-display-flex: ;
}

.c_20px {
	display: flex;
	column-gap: 20px;
	--fl-column-gap: 0px;
	--has-display-flex: ;
}

.w_400px {
	width: 400px;
}

.w_600px {
	width: 600px;
}

.w_800px {
	width: 800px;
}

.w_25\% {
	width: 25%;
}

.w_50\% {
	width: 50%;
}

.wg_400px {
	width: calc(400px - var(--fl-column-gap));
}

.wg_600px {
	width: calc(600px - var(--fl-column-gap));
}

.wg_800px {
	width: calc(800px - var(--fl-column-gap));
}

.wg_25\% {
	width: calc(25% - var(--fl-column-gap));
}

.wg_50\% {
	width: calc(50% - var(--fl-column-gap));
}

.w_auto {
	width: auto;
}

.w_fit-content {
	width: fit-content;
}

.w_max-content {
	width: max-content;
}
