:root {
	--has-fgp: initial;
	--parent-has-fgp: initial;
}

.flexGapNotSupported .pixels > * > * {
	/* -fgp */
	--parent-has-fgp: initial;
}

.flexGapNotSupported .pixels > * {
	/* -fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) initial;
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}

.flexGapNotSupported .pixels {
	/* -fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 20px;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 20px;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}

.pixels {
	display: flex;
	--fgp-gap: var(--has-fgp, 20px);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.width-400 {
	width: 400px;
}
