/* TailwindCSS Test*/
.gap-1 {
	row-gap: 20px;
	column-gap: 20px;
}
.flexGapNotSupported .flex.gap-1 > * > *, .flexGapNotSupported .inline-flex.gap-1 > * > * {}
.flexGapNotSupported .flex.gap-1 > *, .flexGapNotSupported .inline-flex.gap-1 > * {
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}
.flexGapNotSupported .flex.gap-1, .flexGapNotSupported .inline-flex.gap-1 {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 20px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 20px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_20px {
	display: flex;
	/* gap: 20px 10px; */
	row-gap: 20px;
	column-gap: 20px;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_20px > * > * {}

.flexGapNotSupported .g_20px > * {
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_20px {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 20px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 20px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_20px > * {
	--fl-row-gap: 20px;
	--fl-column-gap: 20px;
}

.g_40px {
	display: flex;
	/* gap: 40px 10px; */
	row-gap: 40px;
	column-gap: 40px;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_40px > * > * {}

.flexGapNotSupported .g_40px > * {
	--fgp-parent-gap-row: 40px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 40px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_40px {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 40px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 40px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_40px > * {
	--fl-row-gap: 40px;
	--fl-column-gap: 40px;
}

.g_10\% {
	display: flex;
	gap: 10%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_10\% > * > * {}

.flexGapNotSupported .g_10\% > * {
	--fgp-parent-gap-row: 10%;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 10%;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_10\% {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 10%;
	--fgp-margin-top: calc(
						(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) / (100 - 10) * 100)
						+ var(--fgp-orig-margin-top)
						) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 10%;
	--fgp-margin-left: calc(
						(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) / (100 - 10) * 100)
						+ var(--fgp-orig-margin-left)
						) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_10\% > * {
	--fl-row-gap: 10%;
	--fl-column-gap: 10%;
}

.g_30\% {
	display: flex;
	gap: 30%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_30\% > * > * {}

.flexGapNotSupported .g_30\% > * {
	--fgp-parent-gap-row: 30%;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 30%;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_30\% {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 30%;
	--fgp-margin-top: calc(
						(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) / (100 - 30) * 100)
						+ var(--fgp-orig-margin-top)
						) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 30%;
	--fgp-margin-left: calc(
						(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) / (100 - 30) * 100)
						+ var(--fgp-orig-margin-left)
						) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_30\% > * {
	--fl-row-gap: 30%;
	--fl-column-gap: 30%;
}

.g_25\% {
	display: flex;
	gap: 25%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_25\% > * > * {}

.flexGapNotSupported .g_25\% > * {
	--fgp-parent-gap-row: 25%;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 25%;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_25\% {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 25%;
	--fgp-margin-top: calc(
						(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) / (100 - 25) * 100)
						+ var(--fgp-orig-margin-top)
						) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 25%;
	--fgp-margin-left: calc(
						(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) / (100 - 25) * 100)
						+ var(--fgp-orig-margin-left)
						) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_25\% > * {
	--fl-row-gap: 25%;
	--fl-column-gap: 25%;
}

.g_3\% {
	display: flex;
	gap: 3%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_3\% > * > * {}

.flexGapNotSupported .g_3\% > * {
	--fgp-parent-gap-row: 3%;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 3%;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_3\% {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 3%;
	--fgp-margin-top: calc(
						(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) / (100 - 3) * 100)
						+ var(--fgp-orig-margin-top)
						) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 3%;
	--fgp-margin-left: calc(
						(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) / (100 - 3) * 100)
						+ var(--fgp-orig-margin-left)
						) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_3\% > * {
	--fl-row-gap: 3%;
	--fl-column-gap: 3%;
}

.g_6\% {
	display: flex;
	gap: 6%;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .g_6\% > * > * {}

.flexGapNotSupported .g_6\% > * {
	--fgp-parent-gap-row: 6%;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 6%;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .g_6\% {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 6%;
	--fgp-margin-top: calc(
						(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) / (100 - 6) * 100)
						+ var(--fgp-orig-margin-top)
						) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 6%;
	--fgp-margin-left: calc(
						(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) / (100 - 6) * 100)
						+ var(--fgp-orig-margin-left)
						) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.g_6\% > * {
	--fl-row-gap: 6%;
	--fl-column-gap: 6%;
}

.r_20px {
	display: flex;
	row-gap: 20px;
	--fl-row-gap: 0px;
}

.flexGapNotSupported .r_20px > * > * {}

.flexGapNotSupported .r_20px > * {
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 0px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .r_20px {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 20px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 0px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.c_20px {
	display: flex;
	column-gap: 20px;
	--fl-column-gap: 0px;
}

.flexGapNotSupported .c_20px > * > * {}

.flexGapNotSupported .c_20px > * {
	--fgp-parent-gap-row: 0px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flexGapNotSupported .c_20px {
	gap: 0;
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 0px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 20px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.w_400px {
	width: 400px;
}

.w_600px {
	width: 600px;
}

.w_800px {
	width: 800px;
}

.w_25\% {
	width: 25%;
}

.w_50\% {
	width: 50%;
}

.wg_400px {
	width: calc(400px - var(--fl-column-gap));
}

.wg_600px {
	width: calc(600px - var(--fl-column-gap));
}

.wg_800px {
	width: calc(800px - var(--fl-column-gap));
}

.wg_25\% {
	width: calc(25% - var(--fl-column-gap));
}

.wg_50\% {
	width: calc(50% - var(--fl-column-gap));
}

.w_auto {
	width: auto;
}

.w_fit-content {
	width: fit-content;
}

.w_max-content {
	width: max-content;
}
