.gap-1 {
	gap: 20px;
}

.width-400 {
	width: 400px;
}

.m-4 {
	margin: 20px;
}

.flex.m-4, .inline-flex.m-4 {
	margin: calc(var(fgp-gap-row) + 20px) 20px calc(var(fgp-gap-column) + 20px);
}

.my-4 {
	margin-top: var(--has-display-flex) calc(20px + var(--fgp-margin-top));;
}

.flex.my-4, .inline-flex.my-4 {
	margin-top: var(--has-display-flex) calc(calc(var(fgp-gap-row) + 20px) + var(--fgp-margin-top));;
}

.my-4 {
	margin-top: var(--has-display-flex) calc(20px + var(--fgp-margin-top));;
	margin-bottom: 20px;
}

.flex.my-4, .inline-flex.my-4 {
	margin-top: var(--has-display-flex) calc(calc(var(fgp-gap-row) + 20px) + var(--fgp-margin-top));;
}

.mx-4 {
	margin-left: var(--has-display-flex) calc(20px + var(--fgp-margin-left));;
	margin-right: 20px;
}

.flex.mx-4, .inline-flex.mx-4 {
	margin-left: var(--has-display-flex) calc(calc(var(fgp-gap-column) + null) + var(--fgp-margin-left));;
}
