.gap-1 {
	gap: 20px;
}

.flex.gap-1 > * > *, .inline-flex.gap-1 > * > * {}

.flex.gap-1 > *, .inline-flex.gap-1 > * {
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--fgp-gap-row);
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--fgp-gap-column);
	margin-left: var(--fgp-margin-left);
	pointer-events: all;
}

.flex.gap-1, .inline-flex.gap-1 {
	--fgp-orig-margin-top: 0px;
	--fgp-gap-row: 20px;
	--fgp-margin-top: calc(var(--fgp-parent-gap-row, 0px) - var(--fgp-gap-row) + var(--fgp-orig-margin-top)) !important;
	margin-top: var(--fgp-margin-top);
	--fgp-orig-margin-left: 0px;
	--fgp-gap-column: 20px;
	--fgp-margin-left: calc(var(--fgp-parent-gap-column, 0px) - var(--fgp-gap-column) + var(--fgp-orig-margin-left)) !important;
	margin-left: var(--fgp-margin-left);
	pointer-events: none;
	padding-top: 0.02px;
}

.width-400 {
	width: 400px;
}

.m-4 {
	margin: 20px;
}

.flex.m-4, .inline-flex.m-4 {
	margin: calc(var(fgp-gap-row) + 20px) 20px calc(var(fgp-gap-column) + 20px);
}

.my-4 {
	margin-top: 20px;
}

.flex.my-4, .inline-flex.my-4 {
	margin-top: calc(var(fgp-gap-row) + 20px);
}

.my-4 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.flex.my-4, .inline-flex.my-4 {
	margin-top: calc(var(fgp-gap-row) + 20px);
}

.mx-4 {
	margin-left: 20px;
	margin-right: 20px;
}

.flex.mx-4, .inline-flex.mx-4 {
	margin-left: calc(var(fgp-gap-column) + 20px);
}
