:root {
	/* added by fgp */
	--has-fgp: initial;
	--element-has-fgp: initial;
	--parent-has-fgp: initial;
}
.test {
	/* added by fgp */
	--fgp-width: var(--element-has-fgp) calc(var(--thingy) + var(--fgp-gap-column, 0%));
	--fgp-height: var(--element-has-fgp) calc(var(--thingy) + var(--fgp-gap-row, 0%));
}
.test {
	--thingy: 200px;
	width: var(--fgp-width, var(--thingy));
	height: var(--fgp-height, var(--thingy));
}
