:root {
	/* added by fgp */
	--has-fgp: initial;
	--element-has-fgp: initial;
	--parent-has-fgp: initial;
}

.gap-and-no-flex > * > * {
	/* added by fgp */
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}

.gap-and-no-flex > *,
.gap-and-no-flex > ::slotted(*) {
	/* added by fgp */
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}

.gap-and-no-flex {
	/* added by fgp */
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 20px;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 20px;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}

.gap-and-no-flex {
	--fgp-gap: var(--has-fgp, 20px);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.flex-and-gap > *,
.flex-and-gap > ::slotted(*) {
	/* added by fgp */
	--parent-has-fgp: !important;
	--element-has-fgp: initial;
	--orig-margin-top: initial;
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 20px;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 20px;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}

.flex-and-gap > * > * {
	/* added by fgp */
	--parent-has-fgp: initial;
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}

.flex-and-gap {
	/* added by fgp */
	--has-fgp: ;
	--element-has-fgp: ;
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 20px;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 20px;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}

.flex-and-gap {
	display: flex;
	--fgp-gap: var(--has-fgp, 20px);
	gap: var(--fgp-gap, 0px);
	--fgp-margin-top: initial;
	--orig-margin-top: 1em;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.gap-and-no-flex > *,
.gap-and-no-flex > ::slotted(*) {
	/* added by fgp */
	--orig-margin-top: initial;
	--orig-margin-left: initial;
}

.gap-and-no-flex {
	--fgp-margin-top: initial;
	--orig-margin-top: 20px;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	--fgp-margin-left: initial;
	--orig-margin-left: 1em;
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
	margin-right: 2em;
}

.width-400 {
	width: var(--fgp-width, 400px);;
}

.width-400 {
	/* added by fgp */
	--fgp-width: var(--element-has-fgp) calc(400px + var(--fgp-gap-column, 0%));
}
