:root {
	/* added by fgp */
	--has-fgp: initial;
	--element-has-fgp: initial;
	--parent-has-fgp: initial;
}
.wrapper > * {
	/* added by fgp */
	--orig-margin-top: initial;
	--orig-margin-right: initial;
	--orig-margin-bottom: initial;
	--orig-margin-left: initial;
}
.wrapper {
	--fgp-margin-top: initial;
	--fgp-margin-left: initial;
	--orig-margin-top: 3rem;
	--orig-margin-right: 0px;
	--orig-margin-bottom: 3rem;
	--orig-margin-left: 0px;
	margin: var(--fgp-margin-top, var(--orig-margin-top)) var(--orig-margin-right) var(--orig-margin-bottom) var(--fgp-margin-left, var(--orig-margin-left));
	border: 1px solid black;
}
.grid > * > * {
	/* added by fgp */
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}
.grid > * {
	/* added by fgp */
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 4rem;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 4rem;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}
.grid {
	/* added by fgp */
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 4rem;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 4rem;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}
.grid {
	display: grid;
	--fgp-gap: var(--has-fgp, 4rem);
	gap: var(--fgp-gap, 0px);
	grid-template-columns: 24rem 1fr;
	border: 1px solid red;
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.empty-rule-2 {
	/* my custom comment */
}
