:root {
	--fgp-has-polyfil_gap-container: 0px;
	--fgp-has-polyfil_gap-item: 0px;
}

.g_20px > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_20px > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_20px > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 20px) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_row: var(--fgp-has-polyfil_gap-item, 20px) !important;
	margin-top: var(--fgp-gap_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 20px) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 20px) !important;
	margin-left: var(--fgp-gap_column);
}

.g_20px {
	display: flex;
	/* gap: 20px 10px; */
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_row, 0px) - 20px)) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-margin-top: calc(var(--fgp-gap_row) + 0px);
	margin-top: var(--fgp-margin-top) !important;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_column, 0px) - 20px)) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_20px > ::slotted(*) {
	--fgp-gap_parent_row: 20px;
	--fgp-gap_item_row: 20px;
	--fgp-gap_row: var(--fgp-gap_item_row);
	margin-top: var(--fgp-gap_row) !important;
	--fgp-gap_parent_column: 20px;
	--fgp-gap_item_column: 20px;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_20px > * {
	--fl-row-gap: 20px;
	--fl-column-gap: 20px;
}

.g_40px > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_40px > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_40px > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 40px) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_row: var(--fgp-has-polyfil_gap-item, 40px) !important;
	margin-top: var(--fgp-gap_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 40px) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 40px) !important;
	margin-left: var(--fgp-gap_column);
}

.g_40px {
	display: flex;
	/* gap: 40px 10px; */
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_row, 0px) - 40px)) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-margin-top: calc(var(--fgp-gap_row) + 0px);
	margin-top: var(--fgp-margin-top) !important;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_column, 0px) - 40px)) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_40px > ::slotted(*) {
	--fgp-gap_parent_row: 40px;
	--fgp-gap_item_row: 40px;
	--fgp-gap_row: var(--fgp-gap_item_row);
	margin-top: var(--fgp-gap_row) !important;
	--fgp-gap_parent_column: 40px;
	--fgp-gap_item_column: 40px;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_40px > * {
	--fl-row-gap: 40px;
	--fl-column-gap: 40px;
}

.g_10\% > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_10\% > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_10\% > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 10%) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 10%) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 10%) !important;
	margin-left: var(--fgp-gap_column);
}

.g_10\% {
	display: flex;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-gap_item_row) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-gap_percentage-decimal_column: 0.1;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, var(--fgp-gap_percentage-to-pixels_column, calc( ((var(--fgp-gap_parent_column, 0%) - 10%) * var(--fgp-width_percentages-decimal, 1)) / (100 - 10) * 100))) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_10\% > ::slotted(*) {
	--fgp-gap_parent_row: 10%;
	--fgp-gap_item_row: 10%;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_column: 10%;
	--fgp-gap_item_column: 10%;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_10\% > * {
	--fl-row-gap: 10%;
	--fl-column-gap: 10%;
}

.g_30\% > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_30\% > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_30\% > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 30%) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 30%) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 30%) !important;
	margin-left: var(--fgp-gap_column);
}

.g_30\% {
	display: flex;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-gap_item_row) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-gap_percentage-decimal_column: 0.3;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, var(--fgp-gap_percentage-to-pixels_column, calc( ((var(--fgp-gap_parent_column, 0%) - 30%) * var(--fgp-width_percentages-decimal, 1)) / (100 - 30) * 100))) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_30\% > ::slotted(*) {
	--fgp-gap_parent_row: 30%;
	--fgp-gap_item_row: 30%;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_column: 30%;
	--fgp-gap_item_column: 30%;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_30\% > * {
	--fl-row-gap: 30%;
	--fl-column-gap: 30%;
}

.g_25\% > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_25\% > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_25\% > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 25%) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 25%) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 25%) !important;
	margin-left: var(--fgp-gap_column);
}

.g_25\% {
	display: flex;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-gap_item_row) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-gap_percentage-decimal_column: 0.25;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, var(--fgp-gap_percentage-to-pixels_column, calc( ((var(--fgp-gap_parent_column, 0%) - 25%) * var(--fgp-width_percentages-decimal, 1)) / (100 - 25) * 100))) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_25\% > ::slotted(*) {
	--fgp-gap_parent_row: 25%;
	--fgp-gap_item_row: 25%;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_column: 25%;
	--fgp-gap_item_column: 25%;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_25\% > * {
	--fl-row-gap: 25%;
	--fl-column-gap: 25%;
}

.g_3\% > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_3\% > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_3\% > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 3%) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 3%) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 3%) !important;
	margin-left: var(--fgp-gap_column);
}

.g_3\% {
	display: flex;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-gap_item_row) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-gap_percentage-decimal_column: 0.03;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, var(--fgp-gap_percentage-to-pixels_column, calc( ((var(--fgp-gap_parent_column, 0%) - 3%) * var(--fgp-width_percentages-decimal, 1)) / (100 - 3) * 100))) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_3\% > ::slotted(*) {
	--fgp-gap_parent_row: 3%;
	--fgp-gap_item_row: 3%;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_column: 3%;
	--fgp-gap_item_column: 3%;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_3\% > * {
	--fl-row-gap: 3%;
	--fl-column-gap: 3%;
}

.g_6\% > * {
	--fgp-has-polyfil_gap-item: initial;
}

.g_6\% > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.g_6\% > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 6%) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 6%) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 6%) !important;
	margin-left: var(--fgp-gap_column);
}

.g_6\% {
	display: flex;
	--fl-row-gap: 0px;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-gap_item_row) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-gap_percentage-decimal_column: 0.06;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, var(--fgp-gap_percentage-to-pixels_column, calc( ((var(--fgp-gap_parent_column, 0%) - 6%) * var(--fgp-width_percentages-decimal, 1)) / (100 - 6) * 100))) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.g_6\% > ::slotted(*) {
	--fgp-gap_parent_row: 6%;
	--fgp-gap_item_row: 6%;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_column: 6%;
	--fgp-gap_item_column: 6%;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.g_6\% > * {
	--fl-row-gap: 6%;
	--fl-column-gap: 6%;
}

.r_20px > * {
	--fgp-has-polyfil_gap-item: initial;
}

.r_20px > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.r_20px > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 20px) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_row: var(--fgp-has-polyfil_gap-item, 20px) !important;
	margin-top: var(--fgp-gap_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 0px) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 0px) !important;
	margin-left: var(--fgp-gap_column);
}

.r_20px {
	display: flex;
	--fl-row-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_row, 0px) - 20px)) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-margin-top: calc(var(--fgp-gap_row) + 0px);
	margin-top: var(--fgp-margin-top) !important;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_column, 0px) - 0px)) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.r_20px > ::slotted(*) {
	--fgp-gap_parent_row: 20px;
	--fgp-gap_item_row: 20px;
	--fgp-gap_row: var(--fgp-gap_item_row);
	margin-top: var(--fgp-gap_row) !important;
	--fgp-gap_parent_column: 0px;
	--fgp-gap_item_column: 0px;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.c_20px > * {
	--fgp-has-polyfil_gap-item: initial;
}

.c_20px > * > * {
	--fgp-gap_item_row: initial;
	--fgp-gap_item_column: initial;
}

.c_20px > * {
	pointer-events: all;
	--fgp-gap_container_row: initial;
	--fgp-gap_item_row: var(--fgp-has-polyfil_gap-item, 0px) !important;
	--fgp-gap_row: var(--fgp-gap_item_row);
	--fgp-gap_parent_row: var(--fgp-has-polyfil_gap-item, 0px) !important;
	margin-top: var(--fgp-gap_row);
	pointer-events: all;
	--fgp-gap_container_column: initial;
	--fgp-gap_item_column: var(--fgp-has-polyfil_gap-item, 20px) !important;
	--fgp-gap_column: var(--fgp-gap_item_column);
	--fgp-gap_parent_column: var(--fgp-has-polyfil_gap-item, 20px) !important;
	margin-left: var(--fgp-gap_column);
}

.c_20px {
	display: flex;
	--fl-column-gap: 0px;
	--fgp-has-polyfil_gap-container: initial;
	--fgp-gap_container_row: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_row, 0px) - 0px)) !important;
	pointer-events: none;
	--fgp-gap_parent_row: initial;
	--fgp-gap_item_row: initial;
	--fgp-gap_row: var(--fgp-gap_container_row) !important;
	padding-top: 0.02px;
	--fgp-margin-top: calc(var(--fgp-gap_row) + 0px);
	margin-top: var(--fgp-margin-top) !important;
	--fgp-gap_container_column: var(--fgp-has-polyfil_gap-container, calc(var(--fgp-gap_parent_column, 0px) - 20px)) !important;
	pointer-events: none;
	--fgp-gap_parent_column: initial;
	--fgp-gap_item_column: initial;
	--fgp-gap_column: var(--fgp-gap_container_column) !important;
	padding-top: 0.02px;
	--fgp-margin-left: calc(var(--fgp-gap_column) + 0px);
	margin-left: var(--fgp-margin-left) !important;
}

.c_20px > ::slotted(*) {
	--fgp-gap_parent_row: 0px;
	--fgp-gap_item_row: 0px;
	--fgp-gap_row: var(--fgp-gap_item_row);
	margin-top: var(--fgp-gap_row) !important;
	--fgp-gap_parent_column: 20px;
	--fgp-gap_item_column: 20px;
	--fgp-gap_column: var(--fgp-gap_item_column);
	margin-left: var(--fgp-gap_column) !important;
}

.w_400px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.w_400px {
	width: 400px;
	--fgp-gap_percentage-to-pixels_column: calc(-1 * 400px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * 400px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(400px - var(--fgp-gap_container_column, 0%)) !important;
}

.w_600px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.w_600px {
	width: 600px;
	--fgp-gap_percentage-to-pixels_column: calc(-1 * 600px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * 600px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(600px - var(--fgp-gap_container_column, 0%)) !important;
}

.w_800px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.w_800px {
	width: 800px;
	--fgp-gap_percentage-to-pixels_column: calc(-1 * 800px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * 800px * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(800px - var(--fgp-gap_container_column, 0%)) !important;
}

.w_25\% > * {
	--fgp-width_percentages-decimal: initial;
}

.w_25\% {
	width: 25%;
	--fgp-width_percentages-decimal: 0.25 !important;
}

.w_50\% > * {
	--fgp-width_percentages-decimal: initial;
}

.w_50\% {
	width: 50%;
	--fgp-width_percentages-decimal: 0.5 !important;
}

.wg_400px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.wg_400px {
	width: calc(400px - var(--fl-column-gap));
	--fgp-gap_percentage-to-pixels_column: calc(-1 * calc(400px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * calc(400px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(calc(400px - var(--fl-column-gap)) - var(--fgp-gap_container_column, 0%)) !important;
}

.wg_600px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.wg_600px {
	width: calc(600px - var(--fl-column-gap));
	--fgp-gap_percentage-to-pixels_column: calc(-1 * calc(600px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * calc(600px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(calc(600px - var(--fl-column-gap)) - var(--fgp-gap_container_column, 0%)) !important;
}

.wg_800px > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.wg_800px {
	width: calc(800px - var(--fl-column-gap));
	--fgp-gap_percentage-to-pixels_column: calc(-1 * calc(800px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * calc(800px - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(calc(800px - var(--fl-column-gap)) - var(--fgp-gap_container_column, 0%)) !important;
}

.wg_25\% > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.wg_25\% {
	width: calc(25% - var(--fl-column-gap));
	--fgp-gap_percentage-to-pixels_column: calc(-1 * calc(25% - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * calc(25% - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(calc(25% - var(--fl-column-gap)) - var(--fgp-gap_container_column, 0%)) !important;
}

.wg_50\% > * {
	--fgp-gap_percentage-to-pixels_column: initial;
	--fgp-gap_percentage-to-pixels_row: initial;
}

.wg_50\% {
	width: calc(50% - var(--fl-column-gap));
	--fgp-gap_percentage-to-pixels_column: calc(-1 * calc(50% - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-gap_percentage-to-pixels_row: calc(-1 * calc(50% - var(--fl-column-gap)) * var(--fgp-gap_percentage-decimal_column)) !important;
	--fgp-width: calc(calc(50% - var(--fl-column-gap)) - var(--fgp-gap_container_column, 0%)) !important;
}

.w_auto {
	width: auto;
}

.w_fit-content {
	width: fit-content;
}

.w_max-content {
	width: max-content;
}
