.g_20 > * > * {
	--child-gutters: initial;
	--parent-gutters: initial;
	--neg-gutters: initial;
}
.g_20 > * {
	--gutters: initial;
	--child-gutters: 20px!important;
	--parent-gutters: 20px;
	--neg-gutters: calc(var(--gutters, 0px) - var(--child-gutters, 0px)) !important;
}
.g_20 {
	--gutters: 20px!important;
}
.g_20 > * {
	margin-top: var(--child-gutters, 0px);
	margin-left: var(--child-gutters, 0px);
}
.g_20 {
	margin-top: calc(var(--parent-gutters, 0px) - var(--p-gutters, var(--gutters, 0px))) !important;
	margin-left: calc(var(--parent-gutters, 0px) - var(--p-gutters, var(--gutters, 0px))) !important;
}
