@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Jost:wght@400;600;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Jost:wght@400;600;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Jost:wght@400;600;700&family=Roboto+Slab:wght@400;700&display=swap');

:root{
	/* added by fgp */
	--has-fgp: initial;
	--parent-has-fgp: initial;
}

.gap-8 > * > *{
	/* added by fgp */
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}

.gap-8 > *{
	/* added by fgp */
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 2em;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 2em;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}

.gap-8{
	/* added by fgp */
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 2em;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 2em;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}

.gap-8 {
	--fgp-gap: var(--has-fgp, 2em);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.flex > *{
	/* added by fgp */
	--parent-has-fgp: !important;
	pointer-events: var(--parent-has-fgp) auto;
	--fgp-parent-gap-row: 2em;
	--fgp-margin-top: var(--parent-has-fgp) calc(var(--fgp-gap-row) + var(--orig-margin-top, 0px));
	margin-top: var(--fgp-margin-top);
	--fgp-parent-gap-column: 2em;
	--fgp-margin-left: var(--parent-has-fgp) calc(var(--fgp-gap-column) + var(--orig-margin-left, 0px));
	margin-left: var(--fgp-margin-left);
}

.flex > * > *{
	/* added by fgp */
	--parent-has-fgp: initial;
	--fgp-parent-gap-row: initial;
	--fgp-parent-gap-column: initial;
}

.flex{
	/* added by fgp */
	--has-fgp: ;
	pointer-events: var(--has-fgp) none;
	--fgp-gap-row: 2em;
	--fgp-margin-top: var(--has-fgp) calc(var(--fgp-parent-gap-row, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-row) + var(--orig-margin-top, 0px)) !important;
	--fgp-gap-column: 2em;
	--fgp-margin-left: var(--has-fgp) calc(var(--fgp-parent-gap-column, 0px) / (1 + var(--fgp--parent-gap-as-decimal, 0)) - var(--fgp-gap-column) + var(--orig-margin-left, 0px)) !important;
}

.flex {
	display: flex;
	--fgp-gap: var(--has-fgp, 2em);
	gap: var(--fgp-gap, 0px);
	margin-top: var(--fgp-margin-top, var(--orig-margin-top));
	margin-left: var(--fgp-margin-left, var(--orig-margin-left));
}

.test {
	margin: 10px;
}
