.g_2 > * > * {
	--child-gutters: initial;
	--parent-gutters: initial;
	--neg-gutters: initial;
}

.g_2 > *, .g_2 > ::slotted(*) {
	--gutters: initial;
	--child-gutters: 2%!important;
	--parent-gutters: 2%;
	--neg-gutters: calc(var(--gutters, 0px) - var(--child-gutters, 0px)) !important;
	--p-gutters: initial !important;
}

.g_2:before {
	content: ' ';
	display: table;
	width: 0;
}

.g_2:after {
	content: ' ';
	display: table;
	width: 0;
}

.g_2 {
	--gutters: 2%!important;
	--p-gutters: calc(var(--width) * var(--gutters));
}

.g_2 > *, .g_2 > ::slotted(*) {
	margin-top: var(--child-gutters, 0px);
	margin-left: var(--child-gutters, 0px);
}

.g_2 {
	margin-top: calc(var(--parent-gutters, 0px) - var(--p-gutters, var(--gutters, 0px))) !important;
	margin-left: calc(var(--parent-gutters, 0px) - var(--p-gutters, var(--gutters, 0px))) !important;
}

.w_50 > * {
	--width: initial;
}

.w_50 {
	--width: 0.5;
	flex-grow: 0 !important;
	flex-shrink: 0;
	flex-basis: auto !important;
	width: calc(50% + var(--neg-gutters, var(--gutters, 0px)) - var(--p-gutters, 0px));
}
