.g_20px > * > * {
	--child-width-gutters: initial;
	--special-gutters: initial;
}

.g_20px > * {
	--parent-gutters: 20px !important;
	--gutters: initial;
	--width-gutters: initial;
	--neg-gutters: calc(-1 * var(--gutters, 0px)) !important;
	--child-width-gutters: calc(-1 * var(--parent-gutters, 0px)) !important;
	--diff-gutters: calc(var(--gutters, 0px) - var(--parent-gutters, 0px));
	--margin: var(--parent-gutters, 0px);
	margin-top: var(--margin);
	margin-left: var(--margin);
}

.g_20px {
	--parent-gutters: initial;
	--gutters: 20px !important;
	--width-gutters: var(--parent-gutters);
	--margin: calc(var(--parent-gutters, 0px) - var(--gutters, 0px)) !important;
	padding-top: 0.02px;
	margin-top: var(--margin);
	margin-left: var(--margin);
}

.g_40px > * > * {
	--child-width-gutters: initial;
	--special-gutters: initial;
}

.g_40px > * {
	--parent-gutters: 40px !important;
	--gutters: initial;
	--width-gutters: initial;
	--neg-gutters: calc(-1 * var(--gutters, 0px)) !important;
	--child-width-gutters: calc(-1 * var(--parent-gutters, 0px)) !important;
	--diff-gutters: calc(var(--gutters, 0px) - var(--parent-gutters, 0px));
	--margin: var(--parent-gutters, 0px);
	margin-top: var(--margin);
	margin-left: var(--margin);
}

.g_40px {
	--parent-gutters: initial;
	--gutters: 40px !important;
	--width-gutters: var(--parent-gutters);
	--margin: calc(var(--parent-gutters, 0px) - var(--gutters, 0px)) !important;
	padding-top: 0.02px;
	margin-top: var(--margin);
	margin-left: var(--margin);
}

.w_50\% > * {
	--width: initial;
}

.w_50\% {
	--width: 0.5;
	width: calc(50% + var(--width-gutters, var(--child-width-gutters, 0px)));
}

.w_300px > * {}

.w_300px {
	width: calc(300px + var(--gutters, 0px));
}
