.g_20px {
	gutters: 20px;
}

.g_40px {
	gutters: 40px;
}

.g_10\% {
	gutters: 10%;
}

.g_30\% {
	gutters: 30%;
}

.g_3\% {
	gutters: 3%;
}

.w_300px {
	width: 300px;
}

.w_25\% {
	width: 25%;
}

.w_50\% {
	width: 50%;
}
