.w_50 > * {
	--width: initial;
	--width-grow: initial;
}
.w_50 {
	--width: 0.5;
	--width-grow: 0;
	flex-grow: var(--row-grow, var(--height-grow, 1));
	flex-shrink: 0;
	flex-basis: auto !important;
	width: calc(50% + var(--neg-gutters, var(--gutters, 0px)) - var(--p-gutters, 0px));
}
