:root {
	--FI_has-polyfil_gap-container: 0px;
	--FI_has-polyfil_gap-item: 0px;
}

.g_20px > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_20px > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_20px > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 20px) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 20px) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 20px) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 20px) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_20px {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, calc(var(--FI_gap_parent_row, 0px) - 20px)) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, calc(var(--FI_gap_parent_column, 0px) - 20px)) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_20px > ::slotted(*) {
	--FI_gap_parent_row: 20px;
	--FI_gap_item_row: 20px;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 20px;
	--FI_gap_item_column: 20px;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_20px > * {
	--fl-gap: 20px;
}

.g_40px > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_40px > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_40px > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 40px) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 40px) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 40px) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 40px) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_40px {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, calc(var(--FI_gap_parent_row, 0px) - 40px)) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, calc(var(--FI_gap_parent_column, 0px) - 40px)) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_40px > ::slotted(*) {
	--FI_gap_parent_row: 40px;
	--FI_gap_item_row: 40px;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 40px;
	--FI_gap_item_column: 40px;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_40px > * {
	--fl-gap: 40px;
}

.g_10\% > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_10\% > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_10\% > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 10%) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 10%) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 10%) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 10%) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_10\% {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_percentage-decimal_row: 0.1;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_row, calc( ((var(--FI_gap_parent_row, 0%) - 10%) * var(--FI_width_percentages-decimal, 1)) / (100 - 10) * 100))) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_percentage-decimal_column: 0.1;
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_column, calc( ((var(--FI_gap_parent_column, 0%) - 10%) * var(--FI_width_percentages-decimal, 1)) / (100 - 10) * 100))) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_10\% > ::slotted(*) {
	--FI_gap_parent_row: 10%;
	--FI_gap_item_row: 10%;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 10%;
	--FI_gap_item_column: 10%;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_10\% > * {
	--fl-gap: 10%;
}

.g_30\% > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_30\% > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_30\% > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 30%) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 30%) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 30%) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 30%) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_30\% {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_percentage-decimal_row: 0.3;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_row, calc( ((var(--FI_gap_parent_row, 0%) - 30%) * var(--FI_width_percentages-decimal, 1)) / (100 - 30) * 100))) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_percentage-decimal_column: 0.3;
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_column, calc( ((var(--FI_gap_parent_column, 0%) - 30%) * var(--FI_width_percentages-decimal, 1)) / (100 - 30) * 100))) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_30\% > ::slotted(*) {
	--FI_gap_parent_row: 30%;
	--FI_gap_item_row: 30%;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 30%;
	--FI_gap_item_column: 30%;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_30\% > * {
	--fl-gap: 30%;
}

.g_25\% > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_25\% > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_25\% > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 25%) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 25%) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 25%) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 25%) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_25\% {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_percentage-decimal_row: 0.25;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_row, calc( ((var(--FI_gap_parent_row, 0%) - 25%) * var(--FI_width_percentages-decimal, 1)) / (100 - 25) * 100))) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_percentage-decimal_column: 0.25;
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_column, calc( ((var(--FI_gap_parent_column, 0%) - 25%) * var(--FI_width_percentages-decimal, 1)) / (100 - 25) * 100))) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_25\% > ::slotted(*) {
	--FI_gap_parent_row: 25%;
	--FI_gap_item_row: 25%;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 25%;
	--FI_gap_item_column: 25%;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_25\% > * {
	--fl-gap: 25%;
}

.g_3\% > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_3\% > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_3\% > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 3%) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 3%) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 3%) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 3%) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_3\% {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_percentage-decimal_row: 0.03;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_row, calc( ((var(--FI_gap_parent_row, 0%) - 3%) * var(--FI_width_percentages-decimal, 1)) / (100 - 3) * 100))) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_percentage-decimal_column: 0.03;
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_column, calc( ((var(--FI_gap_parent_column, 0%) - 3%) * var(--FI_width_percentages-decimal, 1)) / (100 - 3) * 100))) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_3\% > ::slotted(*) {
	--FI_gap_parent_row: 3%;
	--FI_gap_item_row: 3%;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 3%;
	--FI_gap_item_column: 3%;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_3\% > * {
	--fl-gap: 3%;
}

.g_6\% > * {
	--FI_has-polyfil_gap-item: initial;
}

.g_6\% > * > * {
	--FI_gap_item_row: initial;
	--FI_gap_item_column: initial;
}

.g_6\% > * {
	--FI_gap_container_row: initial;
	--FI_gap_parent_row: var(--FI_has-polyfil_gap-item, 6%) !important;
	--FI_gap_item_row: var(--FI_has-polyfil_gap-item, 6%) !important;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row);
	--FI_gap_container_column: initial;
	--FI_gap_parent_column: var(--FI_has-polyfil_gap-item, 6%) !important;
	--FI_gap_item_column: var(--FI_has-polyfil_gap-item, 6%) !important;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column);
}

.g_6\% {
	display: flex;
	--fl-gap: 0px;
	--FI_has-polyfil_gap-container: initial;
	--FI_gap_percentage-decimal_row: 0.06;
	--FI_gap_container_row: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_row, calc( ((var(--FI_gap_parent_row, 0%) - 6%) * var(--FI_width_percentages-decimal, 1)) / (100 - 6) * 100))) !important;
	--FI_gap_parent_row: initial;
	--FI_gap_item_row: initial;
	--FI_gap_row: var(--FI_gap_container_row) !important;
	padding-top: 0.02px;
	margin-top: var(--FI_gap_row);
	--FI_gap_percentage-decimal_column: 0.06;
	--FI_gap_container_column: var(--FI_has-polyfil_gap-container, var(--FI_gap_percentage-to-pixels_column, calc( ((var(--FI_gap_parent_column, 0%) - 6%) * var(--FI_width_percentages-decimal, 1)) / (100 - 6) * 100))) !important;
	--FI_gap_parent_column: initial;
	--FI_gap_item_column: initial;
	--FI_gap_column: var(--FI_gap_container_column) !important;
	padding-top: 0.02px;
	margin-right: var(--FI_gap_column);
}

.g_6\% > ::slotted(*) {
	--FI_gap_parent_row: 6%;
	--FI_gap_item_row: 6%;
	--FI_gap_row: var(--FI_gap_item_row);
	margin-top: var(--FI_gap_row) !important;
	--FI_gap_parent_column: 6%;
	--FI_gap_item_column: 6%;
	--FI_gap_column: var(--FI_gap_item_column);
	margin-right: var(--FI_gap_column) !important;
}

.g_6\% > * {
	--fl-gap: 6%;
}

.w_400px > * {
	--FI_gap_percentage-to-pixels_column: initial;
	--FI_gap_percentage-to-pixels_row: initial;
}

.w_400px {
	width: calc(400px - var(--fl-gap));
	--FI_gap_percentage-to-pixels_column: calc(-calc(400px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_gap_percentage-to-pixels_row: calc(-calc(400px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_width: calc(calc(400px - var(--fl-gap)) - var(--FI_gap_container_column, 0%)) !important;
}

.w_600px > * {
	--FI_gap_percentage-to-pixels_column: initial;
	--FI_gap_percentage-to-pixels_row: initial;
}

.w_600px {
	width: calc(600px - var(--fl-gap));
	--FI_gap_percentage-to-pixels_column: calc(-calc(600px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_gap_percentage-to-pixels_row: calc(-calc(600px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_width: calc(calc(600px - var(--fl-gap)) - var(--FI_gap_container_column, 0%)) !important;
}

.w_800px > * {
	--FI_gap_percentage-to-pixels_column: initial;
	--FI_gap_percentage-to-pixels_row: initial;
}

.w_800px {
	width: calc(800px - var(--fl-gap));
	--FI_gap_percentage-to-pixels_column: calc(-calc(800px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_gap_percentage-to-pixels_row: calc(-calc(800px - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_width: calc(calc(800px - var(--fl-gap)) - var(--FI_gap_container_column, 0%)) !important;
}

.w_25\% > * {
	--FI_gap_percentage-to-pixels_column: initial;
	--FI_gap_percentage-to-pixels_row: initial;
}

.w_25\% {
	width: calc(25% - var(--fl-gap));
	--FI_gap_percentage-to-pixels_column: calc(-calc(25% - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_gap_percentage-to-pixels_row: calc(-calc(25% - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_width: calc(calc(25% - var(--fl-gap)) - var(--FI_gap_container_column, 0%)) !important;
}

.w_50\% > * {
	--FI_gap_percentage-to-pixels_column: initial;
	--FI_gap_percentage-to-pixels_row: initial;
}

.w_50\% {
	width: calc(50% - var(--fl-gap));
	--FI_gap_percentage-to-pixels_column: calc(-calc(50% - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_gap_percentage-to-pixels_row: calc(-calc(50% - var(--fl-gap)) * var(--FI_gap_percentage-decimal_column)) !important;
	--FI_width: calc(calc(50% - var(--fl-gap)) - var(--FI_gap_container_column, 0%)) !important;
}
